
@font-face {
    font-family: "_FuturaLT";
    src:url("http://troublebook.club/Fonts/FutuLt_.ttf");
}
@font-face {
    font-family: "_FuturaBR";
    src:url("http://troublebook.club/Fonts/Futura Book Regular.otf");
}
@font-face {
    font-family: "_FancySerif";
    src:url("http://troublebook.club/Fonts/GARABD.TTF");
}
body {
    font-family:"_FuturaLT";
}
.header{

    text-align: center;
}
.firstlet{
    float:left;
    font-family: "_FancySerif";
    font-size:70pt;
    line-height: 95pt;
    padding-right:10px;
}
.header h1 span{
    display:block;
    font-variant: all-small-caps;
    text-align: center;
    font-family: "_FuturaLT";
    font-size:18pt;
}
#logo{
    width:150px;
    margin-top:100px;
    margin-bottom:20px;
}
.header h2 {
    font-size:20px;
    font-variant: all-small-caps;
    text-align: center;
    font-weight:200;
    font-family: "_FuturaLT";
    font-size:18pt;
}

.placeholder{
    background-color: #000;
    background-position: 20px 10px;
    background-image: url('tinylogo2.png');
    /* opacity: 0.2; */
}

.item, .c4s {
}
.item img{
    margin-top:30px;
    width:100%;
    border-color:#ddd;
    border-style: solid;
    border-width: 1px;
    font-size:11pt;
}

.item strong{
    font-family: "_FancySerif";
}

#cipher{
    border-color:#ddd;
    border-style: solid;
    border-width: 1px;
    padding:5px;
    padding-left:15px;
    width:100%;
    font-family: "Courier New"
}

.body-container{
    width:100%;
    max-width: 700px;
    margin:auto;
}
.artifact{
    width:300px;
    float:left;
}
.menu {
    float:left;
    width:325px;
}
.body {
    margin:auto;
    width:600px;
}
.footer{
    clear:both;
}

.body {
    text-align: justify;
    clear:both;
}

.half{
    width:330px;
    margin:10px;

    border-color:#ddd;
    border-style: solid;
    border-width: 1px;
    float:left;
    display:block;
}
.third{
    width:213px;
    margin:10px;

    border-color:#ddd;
    border-style: solid;
    border-width: 1px;
    float:left;
}
.half img, .third img{
    width:100%;
}
.body h1{
    font-variant:all-small-caps;
    font-weight: 400;
    font-size:20px;
    margin-top:30px;
    text-align: center;
}

.body h2{
    font-family: "_FancySerif";
    font-size:15px;
    margin-top:30px;
    text-align: center;
    background-color:#000;
    padding:5px;
    color:#fff;
}


.bureaucrat{
    background-color:#eee;
    text-decoration: underline;
    color:#009;
    font-family: "_FancySerif";
}

.code {
    color:#bbb;
    text-decoration: line-through;
    background-color:#fff;
}

.correct {
    text-decoration: none;
    color:#000;
}